.page-content {
  font-family: 'Source Serif 4', serif;
}

html.dark body {
  background-color: #1a1a1a;
}

.author-bio {
  max-width: 460px;
}

.author-social-icons {
  margin: 0.4rem 0 0.6rem;
  a {
    text-decoration: none;
    margin-right: 0.4rem;
  }
  svg {
    color: #888a90;
    height: 22px;
    width: 22px;
    &:hover {
      color: rgb(221, 221, 221);
    }
  }
}

.author-name,
.author-bio {
  font-family: 'Source Sans 3', sans-serif;
}

.gallery-overlay,
.carousel-title,
.carousel-caption {
  font-family: 'Source Sans 3', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans 3', sans-serif;
}

.navbar, .menu, .menu-link {
  font-family: 'Source Sans 3', sans-serif;
}

figcaption,
.page-content figure figcaption {
  font-family: 'Source Sans 3', sans-serif;
  font-size: $base-font-size;
}

.toc,
.category-toc,
.post-item-meta,
.post-meta,
.gallery-meta {
  font-family: 'Source Sans 3', sans-serif;
}

.project-motivation,
.project-footer-head,
.project-footer-table {
  font-family: 'Source Sans 3', sans-serif;
}

.pub-content {
  font-family: 'Source Sans 3', sans-serif;
}

.pub-abstract p {
  font-family: 'Source Serif 4', serif;
}